# Explore here

In [29]:
import pandas as pd

total_data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv", delimiter=";")
total_data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [30]:
df = total_data.drop(["education", "contact", "default", "contact", "month", "day_of_week", "pdays", "previous", "poutcome"], axis= 1, inplace= True)
df

# not sure why this isn't running?

In [31]:
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

# Implement the Min-Max scaler
total_data["job_n"] = pd.factorize(total_data["job"])[0]
total_data["marital_n"] = pd.factorize(total_data["marital"])[0]
total_data["housing_n"] = pd.factorize(total_data["housing"])[0]
total_data["loan_n"] = pd.factorize(total_data["loan"])[0]
total_data["y_n"] = pd.factorize(total_data["y"])[0]
num_variables = ["job_n", "marital_n", "housing_n", "loan_n", "age", "campaign", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed", "y_n"]

scaler = MinMaxScaler()
scal_features = scaler.fit_transform(total_data[num_variables])
total_data_scal = pd.DataFrame(scal_features, index = total_data.index, columns = num_variables)
total_data_scal.head()

,job_n,marital_n,housing_n,loan_n,age,campaign,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y_n
0,0.000000,0.0,0.0,0.0,0.481481,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0
1,0.090909,0.0,0.0,0.0,0.493827,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0
2,0.090909,0.0,0.5,0.0,0.246914,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0
3,0.181818,0.0,0.0,0.0,0.283951,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0
4,0.090909,0.0,0.0,0.5,0.481481,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0

In [32]:
total_data.columns

Index(['age', 'job', 'marital', 'housing', 'loan', 'duration', 'campaign',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y', 'job_n', 'marital_n', 'housing_n', 'loan_n', 'y_n'],
      dtype='object')

In [33]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   housing         41188 non-null  object
 4   loan            41188 non-null  object
 5   duration        41188 non-null  int64
 6   campaign        41188 non-null  int64
 7   emp.var.rate    41188 non-null  float64
 8   cons.price.idx  41188 non-null  float64
 9   cons.conf.idx   41188 non-null  float64
 10  euribor3m       41188 non-null  float64
 11  nr.employed     41188 non-null  float64
 12  y               41188 non-null  object
 13  job_n           41188 non-null  int64
 14  marital_n       41188 non-null  int64
 15  housing_n       41188 non-null  int64
 16  loan_n          41188 non-null  int64
 17  y_n             41188 non-null  int64
dtypes: float64(5), int64(8), object(5)
memory usage: 5.7+ MB

In [34]:
total_data.isnull()

,age,job,marital,housing,loan,duration,campaign,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,job_n,marital_n,housing_n,loan_n,y_n
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41184,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41185,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41186,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41187,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [35]:
total_data.shape

(41188, 18)

In [36]:
total_data.nunique()

age                 78
job                 12
marital              4
housing              3
loan                 3
duration          1544
campaign            42
emp.var.rate        10
cons.price.idx      26
cons.conf.idx       26
euribor3m          316
nr.employed         11
y                    2
job_n               12
marital_n            4
housing_n            3
loan_n               3
y_n                  2
dtype: int64

In [43]:
total_data['pdays'].value_counts()

pdays
999    39673
3        439
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
22         3
19         3
21         2
25         1
26         1
27         1
20         1
Name: count, dtype: int64

Column Descriptions:

1. age. Age of customer (numeric)
2. job. Type of job (categorical)
3. marital. Marital status (categorical)
4. education. Level of education (categorical)
5. default. do you currently have credit (categorical)
6. housing. do you have a housing loan (categorical)
7. loan. Do you have a personal loan? (categorical)
8. contact. Type of contact communication (categorical)
9. month. Last month in which you have been contacted (categorical)
10. day_of_week. Last day on which you have been contacted (categorical)
11. duration. Duration of previous contact in seconds (numeric)
12. campaign. Number of contacts made during this campaign to the customer (numeric)
13. days. Number of days that elapsed since the last campaign until the customer was contacted (numeric)
14. previous. Number of contacts made during the previous campaign to the customer (numeric)
15. poutcome. Result of the previous marketing campaign (categorical)
16. emp.var.rate. Employment variation rate. Quarterly indicator (numeric)
17. cons.price.idx. Consumer price index. Monthly indicator (numeric)
18. cons.conf.idx. Consumer confidence index. Monthly indicator (numeric)
19. euribor3m. EURIBOR 3-month rate. Daily indicator (numeric)
20. nr.employed. Number of employees. Quarterly indicator (numeric)
21. y. TARGET. Whether the customer takes out a long-term deposit or not

INSTRUCTIONS:

Banking Marketing Campaign
**Business Insight

Long-term deposits allow banks to hold money for a specific period of time, allowing the bank to use that money to enhance its investments. 
Marketing campaigns for this product are based on phone calls. If a user is not available at a given time, then they will be called back at another time.

**Description of the problem

The Portuguese bank is experiencing a decline in revenue, so they want to be able to identify existing customers who are more likely to take out a long-term 
deposit. This will allow the bank to focus their marketing efforts on those customers and avoid wasting money and time on customers who are unlikely to sign up.

To address this problem we will create a ranking algorithm to help predict whether or not a customer will sign up for a long-term deposit.

Step 2: Perform a full EDA
This second step is vital to ensure that we keep the variables that are strictly necessary and eliminate those that are not relevant or 
do not provide information. Use the example Notebook we worked on and adapt it to this use case.

Be sure to conveniently divide the data set into train and test as we have seen in previous lessons.

Step 3: Build a logistic regression model
You do not need to optimize the hyperparameters. Start by using a default definition and improve it in the next step.

Step 4: Optimize the previous model
After training the model, if the results are not satisfactory, optimize it using one of the techniques seen above.

In [39]:
total_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [40]:
total_data.isnull().sum(axis=0)

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [ ]:
print(f"The number of duplicated Name records is: {df['name'].duplicated().sum()}")
print(f"The number of duplicated Host ID records is: {df['host_id'].duplicated().sum()}")
print(f"The number of duplicated ID records is: {df['id'].duplicated().sum()}")